/*=======================================================
                reset default setting
=======================================================*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Remove all animations and transitions for people that prefer not to see them */
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.13s;
  transition: all 0.13s;
}

/*=======================================================
                        variables
=======================================================*/
/*=======================================================
                        header
=======================================================*/
.container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*=======================================================
                        pages-tab
=======================================================*/
#pages-tab {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1050px) {
  #pages-tab .btn-sm {
    display: none;
  }
  #pages-tab .content-box {
    max-width: 600px;
    padding-left: 15px;
    padding-right: 15px;
    visibility: visible;
    position: relative;
  }
  #pages-tab .section-header {
    max-width: 600px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }
  #pages-tab .section-title {
    width: 156px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #pages-tab .section-title .section-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #690FAD;
    margin: 0;
  }
  #pages-tab .section-content-box .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    margin-bottom: 17px;
    color: #690FAD;
  }
  #pages-tab .section-content-box .desc {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    margin-bottom: 41px;
  }
  #pages-tab .section-content-box .btn-more {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    background-color: #690FAD;
    border-radius: 30px;
  }
  #pages-tab .section-content-box .btn-more svg, #pages-tab .section-content-box .btn-more img {
    margin-left: 15px;
  }
  #pages-tab .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 21px;
            column-gap: 21px;
  }
  #pages-tab .member-login {
    min-height: 918px;
    width: 100%;
    background-color: #F3E5E5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
    position: relative;
  }
  #pages-tab .member-login .content-box, #pages-tab .member-login .section-header {
    margin-left: auto;
    margin-top: 60px;
    margin-right: 50px;
  }
  #pages-tab .member-login .section-title {
    margin-right: auto;
  }
  #pages-tab .member-login .section-title img {
    margin-right: 9px;
  }
  #pages-tab .member-login .section-title .section-name {
    text-align: left;
  }
  #pages-tab .member-login .mockup {
    max-width: 543px;
    margin-left: auto;
    margin-top: 45px;
  }
  #pages-tab .member-login .section-content-box {
    max-width: 358px;
    margin-right: auto;
  }
  #pages-tab .member-login .section-content-box .title {
    text-align: left;
  }
  #pages-tab .member-login .section-content-box .desc {
    text-align: left;
  }
  #pages-tab .member-login .section-content-box .btn-more {
    padding: 13px 51px;
    margin-right: auto;
  }
  #pages-tab .member-login .nav-icon {
    position: absolute;
    right: 0;
    top: 58%;
    bottom: 50%;
    -webkit-transform: translateY(-56%);
            transform: translateY(-56%);
    cursor: pointer;
  }
  #pages-tab .corporate-wellness {
    min-height: 918px;
    width: 100%;
    background-color: #EFE9E9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
    position: relative;
  }
  #pages-tab .corporate-wellness .content-box, #pages-tab .corporate-wellness .section-header {
    margin-right: auto;
    margin-top: 60px;
    margin-left: 50px;
  }
  #pages-tab .corporate-wellness .section-title {
    margin-left: auto;
  }
  #pages-tab .corporate-wellness .section-title img {
    margin-left: 9px;
  }
  #pages-tab .corporate-wellness .section-title .section-name {
    text-align: right;
  }
  #pages-tab .corporate-wellness .mockup {
    max-width: 424px;
    margin-right: auto;
    margin-top: 45px;
  }
  #pages-tab .corporate-wellness .section-content-box {
    max-width: 358px;
    margin-left: auto;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    text-align: right;
  }
  #pages-tab .corporate-wellness .section-content-box .title {
    text-align: right;
  }
  #pages-tab .corporate-wellness .section-content-box .desc {
    text-align: right;
  }
  #pages-tab .corporate-wellness .section-content-box .btn-more {
    padding: 13px 27px;
  }
  #pages-tab .corporate-wellness .nav-icon {
    position: absolute;
    left: 0;
    top: 58%;
    bottom: 50%;
    -webkit-transform: translateY(-56%);
            transform: translateY(-56%);
    cursor: pointer;
  }
  #pages-tab .event-consultancy {
    min-height: 512px;
    width: 100%;
    background-color: #EFEFEF;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-clip-path: polygon(50% 0%, 100% 73%, 100% 100%, 0 100%, 0 73%);
            clip-path: polygon(50% 0%, 100% 73%, 100% 100%, 0 100%, 0 73%);
    margin-top: -350px;
    position: relative;
  }
  #pages-tab .event-consultancy .content-box {
    margin-left: auto;
    margin-right: auto;
    padding-top: 130px;
    text-align: center;
  }
  #pages-tab .event-consultancy .section-header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 15px;
  }
  #pages-tab .event-consultancy .section-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
  #pages-tab .event-consultancy .section-title img {
    margin-top: 9px;
  }
  #pages-tab .event-consultancy .section-title .section-name {
    text-align: center;
  }
  #pages-tab .event-consultancy .section-content-box {
    max-width: 358px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 21px;
  }
  #pages-tab .event-consultancy .section-content-box .title {
    text-align: center;
  }
  #pages-tab .event-consultancy .section-content-box .desc {
    text-align: center;
  }
  #pages-tab .event-consultancy .section-content-box .btn-more {
    padding: 13px 33px;
  }
  #pages-tab .event-consultancy .nav-icon {
    position: absolute;
    top: 29px;
    left: 50%;
    right: 50%;
    -webkit-transform: translateX(-51%);
            transform: translateX(-51%);
    cursor: pointer;
    z-index: 1;
  }
  #pages-tab .opacity::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 11111;
  }
  #pages-tab .opacity .content-box {
    visibility: hidden;
  }
  #pages-tab .overlay .content-box {
    visibility: hidden;
  }
  #pages-tab .overlay.member-login {
    background-image: url("../images/marketplace.png");
  }
  #pages-tab .overlay.corporate-wellness {
    background-image: url("../images/corporate.png");
  }
  #pages-tab .overlay.event-consultancy {
    background-image: url("../images/event-consultancy.png");
  }
}
@media (max-width: 1049px) {
  #pages-tab .content-box {
    max-width: 304px;
    padding-left: 15px;
    padding-right: 15px;
    visibility: visible;
    position: relative;
  }
  #pages-tab .section-header {
    max-width: 600px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    margin-right: auto;
  }
  #pages-tab .section-title {
    width: 74px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding-left: 39px;
    padding-bottom: 36px;
  }
  #pages-tab .section-title::before {
    position: absolute;
    content: "";
    background-image: url(../images/icon/Arrow-Left.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left;
    width: 32px;
    height: 47px;
    left: 0;
    right: 0;
  }
  #pages-tab .section-title img {
    display: none;
  }
  #pages-tab .section-title .section-name {
    font-family: 'Montserrat', sans-serif;
    color: #690FAD;
    margin: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }
  #pages-tab .mockup {
    display: none;
  }
  #pages-tab .section-content-box .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 9px;
    color: #690FAD;
  }
  #pages-tab .section-content-box .desc {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10px;
  }
  #pages-tab .section-content-box .btn-lg {
    display: none;
  }
  #pages-tab .section-content-box .btn-sm {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    background-color: #690FAD;
    border-radius: 30px;
    padding: 7px 29px;
  }
  #pages-tab .section-content-box .btn-sm svg, #pages-tab .section-content-box .btn-sm img {
    margin-left: 8px;
  }
  #pages-tab .member-login,
  #pages-tab .corporate-wellness,
  #pages-tab .event-consultancy {
    padding: 22px 3px 29px;
    overflow: hidden;
    opacity: .45;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
  #pages-tab .member-login {
    width: 100%;
    position: relative;
    background-color: #F3E5E5;
  }
  #pages-tab .member-login::before {
    content: "";
    position: absolute;
    right: 12%;
    top: -100%;
    bottom: -100%;
    width: 60px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #pages-tab .member-login::after {
    content: "";
    position: absolute;
    right: -50px;
    top: 0;
    bottom: 0;
    width: 42%;
    background-image: url("../images/mockup-01.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  #pages-tab .corporate-wellness {
    width: 100%;
    position: relative;
    background-color: #EFE9E9;
  }
  #pages-tab .corporate-wellness::before {
    content: "";
    position: absolute;
    right: 12%;
    top: -100%;
    bottom: -100%;
    width: 60px;
    background-color: #fff;
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
  #pages-tab .corporate-wellness::after {
    content: "";
    position: absolute;
    right: -50px;
    top: 0;
    bottom: 0;
    width: 42%;
    background-image: url("../images/mockup-02.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  #pages-tab .event-consultancy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    background-color: #EFEFEF;
    position: relative;
  }
  #pages-tab .event-consultancy::before {
    content: "";
    position: absolute;
    right: 12%;
    top: -100%;
    bottom: -100%;
    width: 60px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #pages-tab .event-consultancy::after {
    content: "";
    position: absolute;
    right: -50px;
    top: 0;
    bottom: 0;
    width: 42%;
  }
  #pages-tab .nav-icon {
    display: none;
  }
  #pages-tab .active {
    padding: 22px 3px 29px;
    overflow: hidden;
    opacity: 1;
    -webkit-filter: unset;
            filter: unset;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  #pages-tab .active.member-login .desc,
  #pages-tab .active.corporate-wellness .desc,
  #pages-tab .active.event-consultancy .desc {
    font-size: 14px;
    line-height: 18.63px;
  }
  #pages-tab .active.member-login .section-content-box,
  #pages-tab .active.corporate-wellness .section-content-box,
  #pages-tab .active.event-consultancy .section-content-box {
    padding-top: 38px;
    padding-bottom: 66px;
  }
  #pages-tab .active.member-login::before,
  #pages-tab .active.corporate-wellness::before,
  #pages-tab .active.event-consultancy::before {
    width: 1px;
    right: 32%;
  }
  #pages-tab .active.member-login::after,
  #pages-tab .active.corporate-wellness::after,
  #pages-tab .active.event-consultancy::after {
    right: 5px;
    background-position: left 80%;
  }
  #pages-tab .active.member-login::before {
    -webkit-transform: rotate(26deg);
            transform: rotate(26deg);
  }
  #pages-tab .active.corporate-wellness::before {
    -webkit-transform: rotate(334deg);
            transform: rotate(334deg);
  }
  #pages-tab .active.event-consultancy {
    background-image: url("../images/event-consultancy.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #pages-tab .active.event-consultancy::before {
    width: 0;
    -webkit-transform: rotate(26deg);
            transform: rotate(26deg);
  }
}
@media (max-width: 480px) {
  #pages-tab .content-box {
    max-width: 204px;
    padding-left: 15px;
    padding-right: 15px;
    visibility: visible;
    position: relative;
  }
  #pages-tab .section-header {
    max-width: 600px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    margin-right: auto;
  }
  #pages-tab .section-title {
    width: 74px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding-left: 29px;
    padding-bottom: 26px;
  }
  #pages-tab .section-title::before {
    position: absolute;
    content: "";
    background-image: url(../images/icon/Arrow-Left.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left;
    width: 22px;
    height: 37px;
    left: 0;
    right: 0;
  }
  #pages-tab .section-title img {
    display: none;
  }
  #pages-tab .section-title .section-name {
    font-family: 'Montserrat', sans-serif;
    color: #690FAD;
    margin: 0;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
  }
  #pages-tab .mockup {
    display: none;
  }
  #pages-tab .section-content-box .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 9px;
    color: #690FAD;
  }
  #pages-tab .section-content-box .desc {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10px;
  }
  #pages-tab .section-content-box .btn-lg {
    display: none;
  }
  #pages-tab .section-content-box .btn-sm {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    background-color: #690FAD;
    border-radius: 30px;
    padding: 7px 29px;
  }
  #pages-tab .section-content-box .btn-sm svg, #pages-tab .section-content-box .btn-sm img {
    margin-left: 8px;
  }
  #pages-tab .member-login,
  #pages-tab .corporate-wellness,
  #pages-tab .event-consultancy {
    padding: 22px 3px 29px;
    overflow: hidden;
    opacity: .45;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
  #pages-tab .member-login {
    width: 100%;
    position: relative;
    background-color: #F3E5E5;
  }
  #pages-tab .member-login::before {
    content: "";
    position: absolute;
    right: 12%;
    top: -100%;
    bottom: -100%;
    width: 60px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #pages-tab .member-login::after {
    content: "";
    position: absolute;
    right: -50px;
    top: 0;
    bottom: 0;
    width: 42%;
    background-image: url("../images/mockup-01.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  #pages-tab .corporate-wellness {
    width: 100%;
    position: relative;
    background-color: #EFE9E9;
  }
  #pages-tab .corporate-wellness::before {
    content: "";
    position: absolute;
    right: 12%;
    top: -100%;
    bottom: -100%;
    width: 60px;
    background-color: #fff;
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
  #pages-tab .corporate-wellness::after {
    content: "";
    position: absolute;
    right: -50px;
    top: 0;
    bottom: 0;
    width: 42%;
    background-image: url("../images/mockup-02.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  #pages-tab .event-consultancy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    background-color: #EFEFEF;
    position: relative;
  }
  #pages-tab .event-consultancy::before {
    content: "";
    position: absolute;
    right: 12%;
    top: -100%;
    bottom: -100%;
    width: 60px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #pages-tab .event-consultancy::after {
    content: "";
    position: absolute;
    right: -50px;
    top: 0;
    bottom: 0;
    width: 42%;
  }
  #pages-tab .nav-icon {
    display: none;
  }
  #pages-tab .active {
    padding: 22px 3px 29px;
    overflow: hidden;
    opacity: 1;
    -webkit-filter: unset;
            filter: unset;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  #pages-tab .active.member-login .desc,
  #pages-tab .active.corporate-wellness .desc,
  #pages-tab .active.event-consultancy .desc {
    font-size: 12px;
    line-height: 14.63px;
  }
  #pages-tab .active.member-login .section-content-box,
  #pages-tab .active.corporate-wellness .section-content-box,
  #pages-tab .active.event-consultancy .section-content-box {
    padding-top: 38px;
    padding-bottom: 66px;
  }
  #pages-tab .active.member-login::before,
  #pages-tab .active.corporate-wellness::before,
  #pages-tab .active.event-consultancy::before {
    width: 1px;
    right: 32%;
  }
  #pages-tab .active.member-login::after,
  #pages-tab .active.corporate-wellness::after,
  #pages-tab .active.event-consultancy::after {
    right: 5px;
    background-position: left 80%;
  }
  #pages-tab .active.member-login::before {
    -webkit-transform: rotate(26deg);
            transform: rotate(26deg);
  }
  #pages-tab .active.corporate-wellness::before {
    -webkit-transform: rotate(334deg);
            transform: rotate(334deg);
  }
  #pages-tab .active.event-consultancy {
    background-image: url("../images/event-consultancy.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #pages-tab .active.event-consultancy::before {
    width: 0;
    -webkit-transform: rotate(26deg);
            transform: rotate(26deg);
  }
}

/*===============================================
                    footer
===============================================*/
#footer {
  position: relative;
  z-index: 9999;
  padding-top: 65px;
  background-color: #ffffff;
}
#footer .container {
  border-bottom: 1px solid #272727;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#footer .container .info {
  width: 365px;
  margin-right: 35px;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 600px) {
  #footer .container .info {
    width: 100%;
    margin-right: 0;
  }
  #footer .container .info img {
    margin: auto;
  }
}
#footer .container .info img {
  width: 100%;
  max-width: 189px;
  margin-bottom: 21px;
}
#footer .container .info p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 11px;
  color: #272727;
}
@media screen and (max-width: 991px) {
  #footer .container .info p {
    line-height: 22px;
  }
}
#footer .container .links {
  width: 172px;
  margin-right: 80px;
  color: #272727;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 1140px) {
  #footer .container .links {
    margin-right: 20px;
  }
}
#footer .container .links p {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 34px;
  color: #272727;
}
#footer .container .links button, #footer .container .links a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  color: #272727;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#footer .container .links button:hover, #footer .container .links a:hover {
  opacity: .8;
}
#footer .container .links:nth-last-child(1) {
  margin-right: 0;
}
#footer .copyright {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  padding: 30px 15px;
  color: #272727;
  text-align: center;
}
